datasets==2.15.0
fastapi==0.99.1
h11==0.14.0
huggingface-hub==0.19.4
numpy==1.24.3
safetensors==0.4.1
sentence-transformers==2.2.2
tensorflow==2.13.0
torch==2.1.2
transformers==4.35.2
tokenizers==0.15.0
sentencepiece==0.2.0
pandas==2.1.2
uvicorn==0.34.0